@tailwind base;
@tailwind components;
@tailwind utilities;

/*
* DarkBlue: #3E3084
* Flieder: #7C2F82
* Pink: #B22F7F
* Violet: #543E71 
* GreenBlue: #014967
*
*
* Background: #222129
*/

:root {
  font-family: Roboto, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-size: cover;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: block;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2{
  font-size: 2.5em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: vw;
  margin: 0;
  padding: 0;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.flip {
  transform: scale(-1, 1);
}

.why-swidge {
  font-size: 1.25rem;
  font-weight: 500;
  font-family: Outfit;
}
.bg-img {
  background-image: url('./assets/swidge-background-16:9.jpg');
  background-size: cover;
}

.bg-dark {
  background-color: #222129;
  background-size: 1rem;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}
.table-bg-dark {
  background-color: #222129;
}


/* Gardients */

.gradient-main {
  background: linear-gradient(270deg, #3E3085 0%, #7C2F82 27.15%, #B22F7F 51.04%, #543E71 78.86%, #0C4966 100%);
}

.bg-gradient-border {
  background: linear-gradient(var(--bg-color-from), var(--bg-color-to)) padding-box,
    linear-gradient(270deg, #3E3085 0%, #7C2F82 27.15%, #B22F7F 51.04%, #543E71 78.86%, #0C4966 100%) border-box;
  border: 1.5px solid transparent;
  border-radius: 12px;
}

 .gradient-border-selection-main {
   background: linear-gradient(#31313E, #31313E) padding-box,
     linear-gradient(270deg, #3E3085 0%, #7C2F82 27.15%, #B22F7F 51.04%, #543E71 78.86%, #0C4966 100%) border-box;
   border: 1.5px solid transparent;
 }